*.min.js
*.min.css
*.json
/$Backup
/Doc/$Backup
/google-api
/log
/MAP/make_plate/plate.png
/MAP/www/$Backup
/MAP/www/meta-data/cameramap/log
/MAP/www/meta-data/cameramap/27
/MAP/www/meta-data/cameramap/29
/MAP/www/meta-data/numberplate/img
/MAP/www/meta-data/numberplate/log
/MAP/www/meta-data/numberplate/1
/MAP/www/meta-data/numberplate/2
/REC/detect/__pycache__
/REC/detect/$Backup
/REC/detect/.spyproject
/REC/www/$imagelist.php
/REC/www/log
Thumbs.db
/MAP/www/$ipupdate.php
/MAP/www/$index.htm
/MAP/www/meta-data/cameramap/calender_event.id
/MAP/www/meta-data/cameramap/calender.last
/MAP/www/meta-data/cameramap/calender_event.desc
/MAP/www/meta-data/cameramap/calender_event.end
/MAP/www/meta-data/numberplate/calender_event.id
/MAP/www/meta-data/numberplate/calender.last
/MAP/www/meta-data/numberplate/calender_event.end
