/*
 * Coded by kojima@sofrio
 *	2015/12/02
 */

.slider{
  position:relative;
  width:40px;
  height:20px;
}
.slider div{
  position:relative;
  top:8px;
  height:4px;
  border:1px inset #aaa;
  font-size:0px;
  background:#ddd;
}
.slider input{
  position:absolute;
  top:0px;
  width:10px;
  height:20px;
  padding: 0px 0px;
  display:block;
}
